<%- include('../user/Userheader') %>
  <form method="POST" action="/auth/changePass">
      <div class="card">
          <div class="card-body col-lg-9 col-md-12 col-sm-12">
  
              <div class="form-floating mb-3 ">
                  <input name="Password" type="password" class="form-control" id="floatingInput" placeholder="Password" required>
                  <label for="floatingPassword">Password</label>
                </div> 
  
                <div class="form-floating mb-3 ">
                    <input name="Password2" type="password" class="form-control" id="floatingInput" placeholder="Password" required>
                    <label for="floatingPassword">Confirm Password</label>
                  </div> 
  
                <div>
                  <input type="hidden" value="<%= users._id %>"  name='id'>
                  <button type="submit" class="btn btn-outline-secondary btn-md">Change</button>
                </div>
  
          </div>
        </div>
  </form>
  
  
  