<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgba(36, 38, 37, 0.824);"">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index"><img src="" alt="this is logo"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">My Job Offers</a>
            <li><a class="dropdown-item" href="/auth/edit">Edit Profile</a></li>
            <li><a class="dropdown-item" href="/auth/changePass">Change password</a></li>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
              <li><a class="dropdown-item" href="/auth/changePass">Change Password</a></li>
              <li><a class="dropdown-item" href="/auth/logout">Log Out</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <form method="POST" action="/auth/changePass">
      <div class="card">
          <div class="card-body col-lg-9 col-md-12 col-sm-12">
  
              <div class="form-floating mb-3 ">
                  <input name="Password" type="password" class="form-control" id="floatingInput" placeholder="Password" >
                  <label for="floatingPassword">Password</label>
                </div> 
  
                <div class="form-floating mb-3 ">
                    <input name="Password2" type="password" class="form-control" id="floatingInput" placeholder="Password" >
                    <label for="floatingPassword">Confirm Password</label>
                  </div> 
  
                <div>
                  <input type="hidden" value="<%= users._id %>"  name='id'>
                  <button type="submit" class="btn btn-outline-secondary btn-md">Change</button>
                </div>
  
          </div>
        </div>
  </form>
  
  
  