<%- include('../user/Userheader') %>

<div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">First Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%= user.firstName %>  </p>
          </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Last Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"> <%= user.lastName %> </p>
            </div>
          </div>
          <hr>


        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"><%=user.emailAddress %></p>
          </div>
        </div>
        <hr>


        <a href="edit" class="btn btn-secondary btn-lg " role="button" >Edit Profile </a>
        
        </div>
      </div>
    </div>




