<%- include('../home/header') %>
<h1> Sign In </h1>
<form method="POST" action="/auth/signin">
    <div class="card">
        <div class="card-body col-lg-9 col-md-12 col-sm-12">
            <div class="form-floating mb-3">
                <input name="emailAddress" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div>
                <button type="submit" class="btn btn-outline-secondary btn-md">Sign In</button>
              </div>
              <h1>Register</h1>
              <a class="btn btn-primary" href="/auth/signup">Register</a>
        </div>
      </div>
</form>




