<form method="POST" action="/applicant/applyJob">
    <div class="card">
        <div class="card-body col-lg-9 col-md-12 col-sm-12">
            <div class="form-floating mb-3">
                <input name="phone" type="text" class="form-control" id="floatingInput" placeholder="Password">
                <label for="floatingInput">Phone Number</label>
              </div> 
              <div class="form-floating  mb-3">
                <input name="CV" type="file" class="form-control" id="floatingFile" placeholder="file">
                <label for="formFile" class="form-label"></label>
              </div>
                <button type="submit" class="btn btn-outline-secondary btn-md">Apply</button>
              </div>
        </div>
      </div>
</form>
