
<h1> Add Job Offer </h1>

<form method="POST" action="/job/addJobOffers">

    
<div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control">
    </div>

    <div class="form-group">
        <label>Salary</label>
        <input type="text" name="Salary" class="form-control">
    </div>

    <div class="form-group">
        <label>orgnization</label>
        <input type="text" name="orgnization" class="form-control">
    </div>
    <div class="form-group">
        <label>description</label>
        <input type="text" name="description" class="form-control">
    </div>
    <div class="form-group">
        <label>timeType</label>
        <input type="text" name="timeType" class="form-control">
    </div>
    <div class="form-group">
        <label>location</label>
        <input type="text" name="location" class="form-control">
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Add Job</button>
</form>

